---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
      <nav class="no-print" aria-label="Main navigation">
        <div class="nav-inner">
          <a href="{{ site.baseurl }}/" class="logo" aria-label="dotaziz home">
              .aziz
          </a>
          <div class="header-nav">
            <ul>
              {% for item in site.data.navigation.links %}
                <li>
                  <a href="{{ item.url }}"
                     {% if item.url == page.url %}class="active" aria-current="page"{% endif %}>
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>
