---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <nav class="no-print" aria-label="Top">
      <div class="nav-inner">
        <a href="{{ site.baseurl }}/" class="logo">
          <div class="logo-text">
            <span class="logo-hash">#</span>
            <span class="logo-rest">otes</span>
            <span class="logo-divider">by</span>
            <span class="logo-aziz">Aziz</span>
          </div>
        </a>

        <nav class="header-nav">
          <ul>
            {% for item in site.data.navigation.links %}
              <li><a href="{{ item.url }}" {% if item.url == page.url %} class="active"{% endif %}>{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>
  </body>
</html>
